@import './utils/sass/vars.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $font-family;
	font-weight: $font-weight;
	font-size: $font-size;
	background-color: $color-dark;
	color: $color-light;
}
